<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GD3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <GD3.Properties.Settings>
            <setting name="Source" serializeAs="String">
                <value/>
            </setting>
            <setting name="Destination" serializeAs="String">
                <value/>
            </setting>
            <setting name="Archive" serializeAs="String">
                <value/>
            </setting>
            <setting name="AutoConvert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GarminUsername" serializeAs="String">
                <value/>
            </setting>
            <setting name="GarminPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
        </GD3.Properties.Settings>
    </userSettings>
</configuration>
